.item {
    width: 100%;
    overflow: hidden;
    &.transition {
        transition: transform 0.2s linear;
    }
    &.grabbed {
        position: fixed;
        z-index: 10000;
    }
    &.removed .content {
        transition: transform 0.4s ease-in;
        transform: translate3d(-100%, 0, 0);
        &.removeToRight {
            transform: translate3d(100%, 0, 0);
        }
    }
}